show page
<%= @crawl.name %>
<div class="row container">
  <div class="col-md-2">
    <div class="btn-group-vertical">

        <button id="All" class="filter btn  btn-all active">View All</button>

        <button id="Landmark" class="filter btn btn-landmark ">Landmarks</button>

        <button id="Park" class="filter btn btn-park ">Parks</button>

        <button id="Entertainment" class="filter btn btn-entertainment ">Entertainment</button>

        <button id="Food" class="filter btn btn-food ">Food</button>

        <button id="Store" class="filter btn btn-store ">Stores</button>

        <button id="Bar" class="filter btn btn-bar ">Bars</button>

        <button id="Hotel" class="filter btn btn-hotel ">Hotels</button>

        <button id="Museum" class="filter btn btn-museum ">Museums</button>

        <button id="Other" class="filter btn btn-other ">Other</button>
      </div>
    </div>
    <div class="col-md-8">
      <div id="map-box" style="background-color:green;">

      </div>
    </div>
    <div class="col-md-2">
      <h1>where results go</h1>
    </div>
  </div>

</div>
