$(document).on('turbolinks:load', function() {
  $('.filter').each(function() {
    var iD = $(this).attr('id').toString()
    $('#' + iD).on('click', function() {
      $('#the-switch').html(iD);
      $('.filter').each(function() {
        $(this).removeClass('active');
      })
      $(this).addClass('active');
      initMap();
    })
  })
});

function addLocation(loc_id) {
  $('#results-list').append('<li>hola</li>')
  console.log(loc_id);
}
