@import "bootstrap-sprockets";
@import "bootstrap";

@mixin widHeight($wid, $heit) {
  width: $wid;
  height: $heit;
}

#map-box {
  @include widHeight(100%, 700px);
  margin-top:20px;
}

@mixin buttons($backcolor, $color: white) {
  background-color: $backcolor;
  color: $color;
  outline: none !important;
}

.btn-landmark {
  @include buttons(#C500CC);
}

.btn-park {
  @include buttons(#F50505);
}

.btn-entertainment {
  @include buttons(#FFCC66);
}

.btn-store {
  @include buttons(#540408);
}

.btn-food {
  @include buttons(#32C962);
}

.btn-bar {
  @include buttons(#5821CF);
}

.btn-itinerary {
  @include buttons(silver);
}

.btn-museum {
  @include buttons(#E88F00);
}

.btn-hotel {
  @include buttons(#910101);
}

.weird-button {
  @include buttons(black, yellow);
}

.crawl-adder {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none !important;
  margin-left: 30%;
}

.btn-other {
  @include buttons(#3374FF);
}

@mixin hues($backcolor, $color) {
  background-color: $backcolor;
  color: $color;
}

.new-location {
  @include hues(#006600, black);
}

.active {
  @include hues(#0059b3, white);
}

.active:focus {
  color: white;
}

#legend ul {
  list-style: none;
  padding:0px;
  margin-right: 5%;
  width: 300px;
}

.legend-color {
  @include widHeight(20px, 20px);
  display: inline-block;
}

#twenty-five {
  background-color: #a50f15;
}

#fifteen {
  background-color: #de2d26;
}

#three {
  background-color: #fb6a4a;
}

#one {
  background-color: #fcae91;
}

#zero {
  background-color: #fee5d9;
}

.navbar-header a{
  color: #FFE20A;
}

.navbar-inverse {
  background-color: #171A1C;
}

h3 {
  margin: 5px 0px 0px 0px;
}

.verts {
  margin-left: 25%;
  margin-top: 30px;
}

@mixin crawler($left) {
  margin-left: $left;
  text-align: center;
}

.crawl-create {
  @include crawler(15%);
  font-size: 2em;
  font-family: monospace;
  border-radius: 4px;
  display: none;
  margin-right: 5%;
}

.mode-radio {
  margin-left: 10px;
}

.crawl-form-wrapper {
  @include crawler(auto);
  margin-top: 200px;
  background-color: black;
  color: white;
  padding: 30px;
}

.crawl-form-wrapper #crawl_name {
  color: black;
}

.new-background {
  color: black;
  @include widHeight(100%, 100%);
}
