

<h1 id="hide">hello world</h1>
<button type="button" id="hider">Hide it</button>
<div id="map-box">

</div>
hi

<ul>
  <% @locations.each do |location| %>
    <%=location.name%>
    <br>
    <%=location.description%>
    <hr>
  <% end %>
</ul>
